<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Payment Method</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/payment">Payment Method</a></li>
            <li class="breadcrumb-item active">Create</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Create New Payment Method</h3>
            </div>
            <form action="/payment/create" method="POST">
              <div class="card-body">
                <div class="form-group">
                  <label for="type">Type</label>
                  <input type="text" class="form-control" name="type" id="type" placeholder="Enter Payment Type" required>
                </div>
                <div class="form-group">
                  <label>Banks</label>
                  <div class="select2-purple">
                    <select
                      class="form-control select2"
                      multiple="multiple"
                      data-placeholder="Select bank(s)"
                      style="width: 100%;"
                      name="banks"
                      required
                    >
                      <% banks.forEach(bank => { %>
                        <option value="<%= bank._id %>"><%= bank.name %> - <%= bank.bankName %> (<%= bank.accountNumber %>)</option>
                      <% }) %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Add Payment Method</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>
