<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Payment Method</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/payment">Payment Method</a></li>
            <li class="breadcrumb-item active">Edit</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Edit Payment Method</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/payment/edit/<%= payment._id %>?_method=PUT" method="POST">
              <div class="card-body">
                <div class="form-group">
                  <label for="type">Type</label>
                  <input type="text" value="<%= payment.type %>" class="form-control" name="type" id="type" placeholder="Enter Payment Type" required>
                </div>
                <div class="form-group">
                  <label>Banks</label>
                  <div class="select2-purple">
                    <select
                      class="form-control select2"
                      multiple="multiple"
                      data-placeholder="Select bank(s)"
                      style="width: 100%;"
                      name="banks"
                      required
                    >
                      <% banks.forEach(bank => { %>
                        <option value="<%= bank._id %>""
                          <% payment.banks.forEach(paymentBank => { %>
                            <% if (bank._id.toString() === paymentBank._id.toString()) { %>
                              selected
                            <% } %>
                          <% }) %>
                        >
                          <%= bank.name %> - <%= bank.bankName %> (<%= bank.accountNumber %>)
                        </option>
                      <% }) %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Update Payment Method</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>
